matplotlib
torch
pyzmq==19.0.2
scipy
sklearn
gpytorch>=1.8.1
statsmodels
git+https://github.com/pytorch/botorch@main#egg=botorch
SQLAlchemy
dill
pandas
tqdm
pathos
aepsych_client
voila==0.3.6
ipywidgets==7.6.5
