/* Home page "Copy" code block button */
pre {
  position: relative;
}
.svgIcon {
  position: absolute;
  top: 4px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  color: #222;
  background-color: transparent;
  height: 30px;
  border: none;
}

.svgIcon:hover {
  text-decoration: none;
}

.btnIcon__body {
  align-items: center;
  display: flex;
}
.svgIcon__label {
  font-size: 10px;
}

.btnClipboard {
  right: 10px;
}
